    <div class="column type">{{ form_widget(form.permitType) }}</div>
    <div class="column number">{{ form_widget(form.permitNumber) }}</div>
    <div class="column county">{{ form_widget(form.permitCounty) }}</div>
    <div class="column action"><a href="#" class="delete-permit btn btn-delete">Delete</a></div>
