{% extends 'base.html.twig' %}

{% block title %}Import CSV file{% endblock %}

{% block body %}
    <h1>Import CSV</h1>

    {% if form is defined %}
        {{ form(form) }}
    {% elseif data is defined %}
        {{ dump(data) }}
    {% endif %}

    <p><a href="{{ path('import_index') }}">Back</a></p>

{% endblock %}