{% extends 'base.html.twig' %}

{% block title %}Failed to import from BRREG!{% endblock %}

{% block body %}

    <section>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="{{ path('import_index') }}">Import</a></li>
            <li class="active">Imported!</li>
        </ol>
    </section>

    <section>
        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
    </section>

    <section>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="">Import complete</h1>
            </div>
            <div class="panel-body">
                {{ dump(data) }}
            </div>
        </div>
    </section>

{% endblock %}