{% extends 'base.html.twig' %}

{% block title %}Import options{% endblock %}

{% block body %}

    <section>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Import</li>
        </ol>
    </section>


    <h1>Import</h1>

    <p><a href="{{ path('import_csv') }}">Import CSV file</a></p>

{% endblock %}